body{
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.MainContainer{
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vw;
}

.Console{
  border: 2px solid purple;
  border-radius: 10px;
  background-color: purple;
  margin-top: 5%;
  width: 60%;
  height: 80%;
  min-width: 450px;
  max-width: 600px;
  min-height: 800px;
  max-height: 1000px;
}

.Screen{
  border: 25px solid rgb(19, 19, 19);
  background-color: white;
  height: 50%;
  margin: 5%;
}

.ButtonsContainer{
  width: 100%;
  height: 30%;
  display: grid;
  grid-template-columns: 50% 50%;
}

.OnButton{
  min-width: 150px;
  max-width: 500px;
  width: 25%;
  margin: 20% 10%;
  background-color: black;
  border-radius: 100%;
  height: 50%;
}

.DPad{
  margin: 37.5% 30%;
  height: 50%;
  width: 50%;
}

.Horizontal{
  background-color: black;
  width: 100%;
  height: 25%;
}

.Vertical{
  position: relative;
  bottom: 60%;
  margin-left: 35%;
  background-color: black;
  width: 30%;
  height: 100%;
}

.OffScreen{
  background-color: black;
  width: 100%;
  height: 100%;
  transition: opacity 1s;
}

.OnScreen{
  width: 100%;
  height: 100%;
  display: block;
}

.PlayerPokemon{
  position: relative;
  top: 50%;
  height: 50%;
}

.EnemyPokemon{
  position: relative;
  top: 10%;
  left: 20%;
  height: 50%;
}

.GameSprites{
  height: 75%;
  border: 2px solid black;
}

.AttackBox{
  height: 25%;
  background-color: rgb(255, 255, 195);
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.AttackSelector{
  text-align: center;
  height: 100%;
  border: 2px solid black;
  transition: background-color 0.25s, color 0.25s;
}

.AttackSelector:hover{
  cursor: pointer;
  color: white;
  background-color: black;
}


.AttackName{
  text-transform: capitalize;
}

